body {
    background: #f5f7fb;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.admin-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111827;
    color: #fff;
    padding: 12px 20px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.nav-center h2 {
    margin: 0;
}
.nav-right img {
    height: 40px;
}

/* MENU BAR */
.menu-bar {
    display: flex;
    gap: 20px;
    background: #1f2937;
    padding: 10px 20px;
}

/* DROPDOWN */
.dropdown {
    position: relative;
}

.dropbtn {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: #fff;
    min-width: 180px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a,
.logout-btn {
    display: block;
    padding: 10px;
    color: #000;
    text-decoration: none;
    background: none;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.dropdown-content a:hover,
.logout-btn:hover {
    background: #f3f4f6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.theme-icon {
    cursor: pointer;
}


